@import url(https://fonts.googleapis.com/css?family=Montserrat);

*{
  margin: 0;
  padding: 0;
  font-family: Montserrat, serif;
}
body{
  background-color: #0e1e31;
  position: relative;
  color: #94BAD8;
}
#main{
  width: 90%;
  max-width: 910px;
  height: 1090px;
  background: #3c7d7e;
  margin: 40px auto;
  position: center;
  box-shadow: 4px 4px #0a1726;
  border-radius: 5px;
}
/*------------------------------------*/
.header{
  display: flex;
  align-content: flex-start;
  padding: 35px 35px;
  height: 16%;
}
/*------------------------------------*/

svg {
  display: block;
  font: 5.5em 'Montserrat';
  width: 100%;
    margin: 0 auto;
}

.text-copy {
  fill: none;
  stroke: white;
  /*noinspection CssInvalidPropertyValue*/
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #1A3352;
  animation-delay: -1s;
}

.text-copy:nth-child(2){
  stroke: #940E0E;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #af4d56;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #94001d;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #bc7b00;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}

/*-----------------------------------------------------------------------*/
#img{
  width: 20%;
  height: 100%;
}
#img img{
  width: 100%;
  height: auto; /* or 100% */
  border-radius: 50px;
  transition: transform .4s;
  user-select: none;
}
#img img:hover{
  cursor: default;
  transform: scale(1.2);
}
#namestf{
  width: 80%;
  height: 100%;
  align-content: center;
  text-align: center;
  user-select: none;
  padding-top: 10px;
}
.name1{
  width: 100%;
}
.name2{
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
  border-bottom: 1px solid #94BAD8;
}
#titleh{
  width: 150px;
  margin: auto;
  letter-spacing: 2px;
}
.titleh2{
  display: none;
}
.name2 h1{
  cursor: default;
  font-size: 22px;
  user-select: none;
  transition: transform .4s;
}
.name2 h1:hover{
  transform:scale(1.5);
}
/*------------------------------------*/
#body{
  display: flex;
  align-content: flex-start;
}

/*------------------------------------*/
.side{
  height: 100%;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  user-select: none;
}
.side a{
  text-decoration: none;
  margin-left: 25px;
  margin-top: 35px;
  width: 190px;
  height: 40px;
  font-size: 20px;
  border: 1px solid #94bad8;
  border-radius: 9px;
  display: inline-flex;
  justify-content: space-between;
  padding: 10px;
  transition: background-color .7s;
  cursor: pointer;
  letter-spacing: .4px;
}
.side a:hover{
  background-color: #1A3352;
}
.side p{
  padding: 8px;
  color: #94bad8;
}
.side img{
  width: 40px;
  height: 40px;
}
/*------------------------------------*/
#content ul{
  margin-top: 55px;
}
#content li{
  margin-left: 120px;
  margin-top: 40px;
  padding-left: 20px;
}
#content{

}
#i00{
  list-style-image: url("imgs/content/man.svg");
}
#i01{
  list-style-image: url("imgs/content/newborn.svg");
}
#i02{
  list-style-image: url("imgs/content/location.svg");
}
#i03{
  list-style-image: url("imgs/content/graduated.svg");
}
#i04{
  list-style-image: url("imgs/content/height.svg");
}
#i05{
  list-style-image: url("imgs/content/scale.svg");
}
#p1{
  width: 550px;
  text-align: left;
  line-height: 2.2;
  margin-left: 55px;
  margin-right: 45px;
  margin-top: 130px;
}
#p2{
  text-align: left;
  margin-left: 110px;
  margin-top: 50px;
}
/*------------------------------------*/
#lang{
  margin-top: auto;
  width: 240px;
}
/*------------------------------------*/
#footer{
  display: flex;
  align-content: space-between;
  width: 90%;
  height: 30%;
  border: 1px solid #94bad8;
  border-radius: 9px;
  margin-left: 30px;
  margin-top: 90px;
  padding: 10px;
}
#footer div{
  margin-left: 45px;
}
.contact{
  display: flex;
  flex-direction: column;
  user-select: none;
}
.contact a{
  text-decoration: none;
  display: inline-flex;
  margin-top: 10px;
}
.contact img{
  width: 30px;
  height: 30px;
}
.contact p{
  padding: 8px;
  color: #94bad8;
}
#cont p{
  cursor: text;
  user-select: all;
}